{% extends "archiv/generic_detail.html" %}
{% load static %}

{% load webpage_extras %}
{% block title %}{{ object }}{% endblock %}

{% block custom %}

<div class="row justify-content-around">
  <div class="col-md-3">
    <h3>Basic Metadata</h3>
    <table class="table table-responsive table-hover">
      {% for x in object.field_dict %}
      {% if x.name == "name" or x.verbose_name == "ID" or x.name == "paragraph" or x.name == "part_of" %}
      <tr>
        <th>
          {% if x.verbose_name == "ID" %}
          NaBuCCo ID
          {% elif x.help_text %}
          <abbr title="{{ x.help_text }}">{{ x.verbose_name }}</abbr>
          {% else %}
          {{ x.verbose_name }}
          {% endif %}
        </th>
        <td>
          {% if x.f_type == 'M2M' %}
          {% for y in x.value %}
          <li>
            <a href="{{ y.get_absolute_url }}">{{ y }}</a>
          </li>
          {% endfor %}
          {% elif x.f_type == 'FK' %}
          <a href="{{ x.value.get_absolute_url }}">{{ x.value }}</a>
          {% elif x.f_type == 'REVRESE_RELATION' %}
          {% for y in x.value %}
          <li>
            <a href="{{ y.get_absolute_url }}">{{ y }}</a>
          </li>
          {% endfor %}
          {% elif x.f_type == 'SIMPLE' %}
          {{ x.value }}
          {% endif %}
        </td>
      </tr>
      {% endif %}
      {% endfor %}
    </table>
  </div>
  <div class="col-md-4">
    
        <h3> Archive description</h3>
        <p>{{archiv.description|safe}}</p>
      </tr>
    </table>
  </div>
  <div class="col-md-3">
    <h3>{{ object.rvn_tablet_archiv_archiv.all|length }} related Tablets</h3>
    <ul>
      {% for x in object.rvn_tablet_archiv_archiv.all %}
      <li>
        <a href="{{ x.get_absolute_url }}">{{ x }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock %}