{% extends "archiv/generic_detail.html" %}
{% load static %}

{% load webpage_extras %}
{% block title %}{{ object }}{% endblock %}

{% block custom %}

<div class="container">
  <div class="row justify-content-around">
    <div class="col-md-3">
      <h2>Basic Metadata</h2>
      <dl>
        <dt>NaBuCCo ID</dt>
        <dd>{{ object.id }}</dd>
        <dt>Name</dt>
        <dd>{{ object.name }}</dd>
        <dt>Siglum according to GMTR 1</dt>
        <dd>{{ object.paragraph }}</dd>
        <dt>(Assumed) place of origin</dt>
        <dd>
          <a href="{{ object.part_of.get_absolute_url }}">{{ object.part_of }}</a>
        </dd>
      </dl>
    </div>
    <div class="col-md-4">
      <h2> Archive description</h2>
      <p>{{archiv.description|safe}}</p>
      {% if user.is_authenticated %}
      <hr />
      <h2>original data</h2>
      <code>{{ object.orig_data_csv|safe }}</code>
      {% endif %}
    </div>
    <div class="col-md-3">
      <h2>{{ object.rvn_tablet_archiv_archiv.all|length }} related Tablets</h2>
      <ul>
        {% for x in object.rvn_tablet_archiv_archiv.all %}
        <li>
          <a href="{{ x.get_absolute_url }}">{{ x }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

{% endblock %}