{% extends "archiv/generic_detail.html" %}
{% load static %}
{% load webpage_extras %}
{% block title %}
  {{ object }}
{% endblock title %}
{% block custom %}
  <div class="row justify-content-around">
    <div class="col-md-6">
      <h2>{{ object.title }}</h2>
      <dl>
        {% if object.author %}
          <dt>Author</dt>
          <dd>
            {{ object.author }}
          </dd>
        {% endif %}
        {% if object.editor %}
          <dt>Editor</dt>
          <dd>
            {{ object.editor }}
          </dd>
        {% endif %}
        {% if object.publication_year %}
          <dt>Year</dt>
          <dd>
            {{ object.publication_year }}
          </dd>
        {% endif %}
        {% if object.pages %}
          <dt>Pages</dt>
          <dd>
            {{ object.pages }}
          </dd>
        {% endif %}
        {% if object.journal %}
          <dt>Journal</dt>
          <dd>
            {{ object.journal }}
          </dd>
        {% endif %}
        {% if object.book %}
          <dt>Book</dt>
          <dd>
            {{ object.book }}
          </dd>
        {% endif %}
      </dl>
      
      {% if user.is_authenticated %}
      <hr />
        <h2>original data</h2>
        <code>{{ object.orig_data_csv|safe }}</code>
      {% endif %}
    </div>
    <div class="col-md-3">
      <h2>{{ object.rvn_tablet_mentioned_in_pub_bibliography.all|length }} related Tablets</h2>
      <ul>
        {% for x in object.rvn_tablet_mentioned_in_pub_bibliography.all %}
        <li>
          <a href="{{ x.get_absolute_url }}">{{ x }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container">
    
  </div>

{% endblock custom %}
