{% extends "browsing/create_base_template.html" %}
{% block title %}
    Create/Edit {{ class_name }}
{% endblock %}

{% block objectType %}
<script type="text/javascript">
    function drag() {
         $('#diacritics').draggable();
       }
 </script>
 <script type="text/javascript">
    function toggle(){
         var dia = document.getElementById("tableLegend")
         var tab = document.getElementById("diacritics")
         dia.addEventListener('click', function(){
             if (tab.style.display === 'none'){
                 tab.style.display = 'table-row';
             } else {
                 tab.style.display = 'none';
                 $(tab).animate({
                     top: "0px",
                     left: "0px"
                 });
             }
             })
    }
    function choose(){
         var tab = document.getElementById("diacritics")
         tab.addEventListener('dblclick', function(){
             if($(this).hasClass('ui-draggable-disabled')){
              $(this).draggable('enable')
             } else {$(this).draggable('disable')}
              
              })
    }

 $(document).ready(drag).ready(toggle).ready(choose);
 </script>
 
    <h1>Create/Edit
        {% if docstring %}
            <abbr title="{{ docstring}}">{{ class_name }}</abbr>
        {% else %}
            {{ class_name }}
        {% endif %}
    </h1>
    <!-- Diacritics -->
    <legend id="tableLegend" style="margin-bottom:15px;"> Diacritics</legend>
    <table id="diacritics" style="position:flex; z-index:1; background-color:lightgrey; display: none; margin-bottom:15px;">
        <tbody><tr><td style="cursor: pointer;">Ā</td><td style="cursor: pointer;">ā</td><td style="cursor: pointer;">Â</td><td style="cursor: pointer;">â</td><td style="cursor: pointer;">Á</td><td style="cursor: pointer;">á</td><td style="cursor: pointer;">À</td><td style="cursor: pointer;">à</td></tr>
            <tr><td style="cursor: pointer;">Ē</td><td style="cursor: pointer;">ē</td><td style="cursor: pointer;">Ê</td><td style="cursor: pointer;">ê</td><td style="cursor: pointer;">É</td><td style="cursor: pointer;">é</td><td style="cursor: pointer;">È</td><td style="cursor: pointer;">è</td></tr>
            <tr><td style="cursor: pointer;">Ī</td><td style="cursor: pointer;">ī</td><td style="cursor: pointer;">Î</td><td style="cursor: pointer;">î</td><td style="cursor: pointer;">Í</td><td style="cursor: pointer;">í</td><td style="cursor: pointer;">Ì</td><td style="cursor: pointer;">ì</td></tr>
            <tr><td style="cursor: pointer;">Ū</td><td style="cursor: pointer;">ū</td><td style="cursor: pointer;">Û</td><td style="cursor: pointer;">û</td><td style="cursor: pointer;">Ú</td><td style="cursor: pointer;">ú</td><td style="cursor: pointer;">Ù</td><td style="cursor: pointer;">ù</td></tr>
            <tr><td style="cursor: pointer;">Š</td><td style="cursor: pointer;">š</td><td style="cursor: pointer;">Ṣ</td><td style="cursor: pointer;">ṣ</td><td style="cursor: pointer;">Ṭ</td><td style="cursor: pointer;">ṭ</td></tr>
        </tbody>
    </table>
{% endblock %}
