{% extends "webpage/base.html" %}
{% load static %}
{% load mptt_tags %}
{% load django_tables2 %}

{% block content %}

<div class="container-fluid" style="background-image:url('../../static/img/bg4.jpg'); background-size:cover;
    padding-left: 100px;">
    <h1 style="color: #254aa5">Text typology - Overview </h1>
    <h4 style="color: #254aa5"> ({{ object_list.count }} entries)</h4>
    <p>Devised by someone; based on Jursa 2005</p>
    <div class="container">
        <div class="row justify-content-center">
    {% recursetree object_list %}
        {% if node.is_leaf_node and node.is_child_node %}
        <a href="{% url 'archiv:glossary_detail' node.id %}"><li class="level_3" style="font-weight: lighter; color: #254aa5 ">
            {{ node.pref_label }}
        </li></a>
        {% elif node.is_child_node and not node.is_leaf_node %}
        <li class="level_2" class="h4" style="font-weight: bold; color: #254aa5">
            <a href="{% url 'archiv:glossary_detail' node.id %}">{{ node.pref_label }}</a>
            {% if not node.is_leaf_node %}
                <ul class="children">
                    {{ children }}
                </ul>
            {% endif %}
        </li>
        {% else %}
        <div class="col-md-6 offset-md-2" style="background-color:white;">
            <a href="{% url 'archiv:glossary_detail' node.id %}" class="h2" style="font-weight: bolder; color: #254aa5">{{ node.pref_label }}</a>
            {% if not node.is_leaf_node %}
                <ul class="children">
                    {{ children }}
                </ul>
            {% endif %}
            </div>
        {% endif %}
    {% endrecursetree %}
    </div> </div>  

<!-- 
{% for pref_label,broader_concept in object_list|tree_info %}
    {% if broader_concept.new_level %}<ul><li>{% else %}</li><li>{% endif %}
        {{ pref_label }}
    {% for level in broader_concept.closed_levels %}</li></ul>{% endfor %}
{% endfor %}
-->
</div>
{% endblock %}


