{% extends "webpage/base.html" %}
{% load static %}
{% load mptt_tags %}
{% load django_tables2 %}

{% block content %}

<h1>{{ class_name }} - Overview </h1>


{% recursetree object_list %}
    {% if node.is_leaf_node %}
    <a href="{% url 'archiv:glossary_detail' node.id %}"><li class="level_3">
        {{ node.pref_label }}
    </li></a>
    {% elif node.is_child_node %}
    <li class="level_2">
        <a href="{% url 'archiv:glossary_detail' node.id %}">{{ node.pref_label }}</a>
        {% if not node.is_leaf_node %}
            <ul class="children">
                {{ children }}
            </ul>
        {% endif %}
    </li>
    {% else %}
    <li class="level_1">
        <a href="{% url 'archiv:glossary_detail' node.id %}">{{ node.pref_label }}</a>
        {% if not node.is_leaf_node %}
            <ul class="children">
                {{ children }}
            </ul>
        {% endif %}
    </li>
    {% endif %}
{% endrecursetree %} 
<!-- 
{% for pref_label,broader_concept in object_list|tree_info %}
    {% if broader_concept.new_level %}<ul><li>{% else %}</li><li>{% endif %}
        {{ pref_label }}
    {% for level in broader_concept.closed_levels %}</li></ul>{% endfor %}
{% endfor %}
-->

<p>derived from Jursa 2005</p>
{% endblock %}


