{% extends "archiv/generic_detail.html" %}
{% load static %}
{% load leaflet_tags %}
{% load webpage_extras %}

{% block title %}{{ object }}{% endblock %}

{% block scriptHeader %}
{% leaflet_js %}
{% leaflet_css %}
{% endblock scriptHeader %}

{% block custom %}

<div class="container">
  <div class="row justify-content-around">
    <div class="col-md-4">
      <h2 class="fs-4">Basic Metadata</h2>
      <dl>
        <dt>NaBuCCo ID</dt>
        <dd>{{ object.id }}</dd>
        <dt>Name</dt>
        <dd>{{ object.name }}</dd>
        {% if object.description %}
        <dt>Description</dt>
        <dd>{{ object.description|safe }}</dd>
        {% endif %}
        {% if object.pleiades_url %}
        <dt>Pleiades</dt>
        <dd><a href="{{ object.pleiades_url }}">{{ object.pleiades_url }}</a></dd>
        {% endif %}
        {% if object.lng %}
        <dt>Coordinates</dt>
        <dd><span id="lng">{{ object.lng }}</span> <span id="lat">{{ object.lat }}</span></dd>
        {% endif %}
        {% if object.part_of %}
        <dt>Part of Region</dt>
        <dd><a href="{{ object.part_of.get_absolute_url }}">{{ object.part_of }}</a></dd>
        {% endif %}
        {% if object.rvn_place_part_of_place.all %}
        <dt>Region of {{ object.rvn_place_part_of_place.all|length }} Places</dt>
        {% for x in object.rvn_place_part_of_place.all %}
        <dd><a href="{{ x.get_absolute_url }}">{{ x }}</a></dd>
        {% endfor %}
        {% endif %}
      </dl>
      {% if object.lng %}
      
      <div>
        <h3>Map</h3>
        {% leaflet_map "yourmap"  callback="window.map_init_basic" %}
      </div>
      {% endif %}
    </div>
    <div class="col-md-4">
      <h2 class="fs-4">{{ object.rvn_archiv_part_of_place.all|length }} related Archivs</h2>
      <ul>
        {% for x in object.rvn_archiv_part_of_place.all %}
        <li>
          <a href="{{ x.get_absolute_url }}">{{ x }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-md-4">
      <h2 class="fs-4">{{ object.rvn_tablet_place_of_issue_place.all|length }} related Tablets (place of issue)</h2>
      <ul>
        {% for x in object.rvn_tablet_place_of_issue_place.all %}
        <li>
          <a href="{{ x.get_absolute_url }}">{{ x }}</a>
        </li>
        {% endfor %}
      </ul>
      <h2 class="fs-4">{{ object.rvn_tablet_regional_setting_place.all|length }} related Tablets (regional setting)</h2>
      <ul>
        {% for x in object.rvn_tablet_regional_setting_place.all %}
        <li>
          <a href="{{ x.get_absolute_url }}">{{ x }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% if user.is_authenticated %}
      <hr />
      <h2>original data</h2>
      <code>{{ object.orig_data_csv|safe }}</code>
  {% endif %}
</div>

{% endblock %}
{% block scripts2 %}
{% if object.lng %}
<script>
  var lng = document.getElementById("lng").innerText;
  var lat = document.getElementById("lat").innerText;
  function map_init_basic (map, options) {
      L.marker([lng, lat]).addTo(map);
  }
</script>
{% endif %}
{% endblock scripts2 %}