{% extends "webpage/base.html" %}

{%block content%}

<div class="container-fluid">
    <div class ="row">
    {% for region in regions %}
        <div class='col-4'>
            <table id='{{region}}'>
                {% if region != '' %}
                    <tr>
                        <th>{{region}}</th>
                    </tr>
                {% endif %}
                {% for n in object_list %}
                    {% if n.region == region and not n.name in regions  %} 
                    <tr>
                        <td>{{ n.name }}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}



 



                    
                