{% extends "archiv/generic_detail.html" %}
{% load static %}

{% load webpage_extras %}
{% block title %}{{ object }}{% endblock %}

{% block custom %}

<div class="container">

    <div class="p-2">
        
        <h2 class="fs-3">{{ object.get_file_display }}</h2>
        <h3 class="fs-4">{{ object.sub_file }}</h2>
        <dl>
            <dt>Verbum regens</dt>
            <dd>{{ object.verbum_regens }}</dd>
            <dt>Description</dt>
            <dd>{{ object.description }}</dd>
        </dl>
    </div>
    
    <div class="p-2">
        <h2 class="fs-4">Tablets</h2>
        <ul>
            {% for x in object.related_tablets.all %}
            <li>
                <a href="{{ x.get_absolute_url }}">{{ x }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>

</div>

{% endblock %}