acdh-django-browsing==3.2
acdh-django-widgets
acdh-xml-pyutils
crispy-bootstrap5
Django>=5.0,<6
django-autocomplete-light
django-extensions
djangorestframework
django-tinymce
django-fixture-magic
django-ckeditor  # needed for migrations
django-leaflet
django-next-prev>=1.1.0,<2
django-mptt
jinja2
pandas
psycopg2-binary
tqdm