{% load static %}
<footer class="py-3">
  <div class="container text-center">
    <div class="d-flex align-items-center gap-2 border-bottom pb-3 mb-4">
      <i class="bi bi-chat"></i><span class="fw-medium">Contact</span>
    </div>
    <div class="row justify-content-md-center">
      <div class="col col-lg-4">
        <div><a href="https://www.arts.kuleuven.be/geschiedenis/eng"><img class="footerlogo" src="{% static 'webpage/img/logo_kuleuven.png' %}"
              alt="History Department of the Katholieke Universiteit Leuven"></a></div>
        <div class="text-center p-4">
          History Department of the Katholieke Universiteit Leuven
        </div>
      </div>

      <div class="col col-lg-4">
        <div><a href="https://www.oeaw.ac.at/acdh/acdh-home"><img class="footerlogo"
              src="{% static 'webpage/img/acdh_logo.svg' %}" alt="ACDH"></a></div>
        <div class="text-center p-4">
          ACDH Austrian Centre for Digital Humanities Österreichische
          Akademie der Wissenschaften
        </div>
      </div>

      <div class="col col-lg-4">
        <div><a href="https://orientalistik.univie.ac.at/en/"><img
              class="footerlogo" src="{% static 'webpage/img/orient_wien.jpg' %}"
              alt=">Department of Near Eastern Studies, University of Vienna"></a></div>
        <div class="text-center p-4">
          Department of Near Eastern Studies, University of Vienna
        </div>
      </div>
    </div>
    <div class="d-flex align-items-center gap-2 border-bottom pb-3 mb-4" style="color: #444;"><i class="bi bi-wallet"></i><span class="fw-medium">funded by</span>
    </div>
    <div class="row justify-content-md-center">
      <div class="col col-lg-3">
        <a href="https://www.fwf.ac.at/forschungsradar/10.55776/I3927">
          <img src="{% static 'webpage/img/fwf-logo.png' %}" alt="FWF Logo" class="footerlogo">
          <div class="text-center p-3">
            10.55776/I3927
          </div>
        </a>
      </div>
      <div class="col col-lg-3">
        <a href="https://www.fwo.be/en/">
          <img src="{% static 'webpage/img/fwo.png' %}" alt="FWO Logo" class="footerlogo">
          <div class="text-center p-3">
            Project PVII/14
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="text-center">
    <a href="https://github.com/acdh-oeaw/nabucco">
      <i aria-hidden="true" class="bi bi-github fs-2"></i>
      <span class="visually-hidden">GitHub repo</span>
    </a>
  </div>
</footer>