dd {
  margin-left: 2em;
}

.unstyled-link {
  color: inherit;
  /* Inherits color from the parent element */
  text-decoration: none;
  /* Removes underline */
}


.jumbotron-background {
  background-size: cover;
  background-position: center;
  color: white;
  position: relative;
  height: auto;
}

/* Overlay effect */
.jumbotron-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  /* Adjust the opacity as needed */
  border-radius: 0.5rem;
  z-index: 1;
  /* Places overlay below content */
}


.jumbotron-background h1,
.jumbotron-background h2,
.jumbotron-background p,
.jumbotron-background .btn {
  position: relative;
  z-index: 2;
}

.leaflet-container {  /* all maps */
  max-width:  600px;
  max-height: 400px;
}

.link-no-style {
  color: inherit;
  text-decoration: underline dotted;
}

.footerlogo {
  height: 60px;
}