{% extends "base.html" %}
{% load static %}
{% load webpage_extras %}
{% block title %} About Navico{% endblock %}
{% block content %}
<div class="container pt-3">
    <h1 class="display-2 p-3 text-center">About Navico</h1>
    <h2>Involved Person</h2>
    <p>Hackl, Johannes (PI); Jursa, Michael (PI); Sandowicz, Malgorzata (PI); Lassen, Agnete (Cooperation Partner);
        Waerzeggers, Caroline (Cooperation Partner); Agut, Damien (Cooperation Partner); Mühl, Simone (Cooperation
        Partner); Lämmerhirt, Kai (Cooperation Partner); Jiménez, Enrique (Cooperation Partner); Helwing, Barbara
        (Cooperation Partner)</p>
    <p class="visually-hidden">wow, so many leaders...</p>
    <h2>Abstract</h2>
    <p>
        The Babylonian cuneiform tablets conventionally labeled as the ‘Eanna temple archive’ represent one
        of the most important text groups from Ancient Babylonia, and they are arguably the most multifaceted
        collection of archival material from the best documented period of Babylonian history, the long sixth
        century. Counterintuitively, and numerous preceding studies (including several by the project coordinators)
        notwithstanding, no truly comprehensive investigation of these texts as a body of documentary data, as an
        ‘archive’, has ever been attempted. DigEanna will close this knowledge gap. Building on and extending the
        predecessor project NaBuCCo, DigEanna will make available the data and new insights as they are gained in this
        on-line database.
    </p>
    <h2>Collaborative partners</h2>
    <ul>
        <li>University of Vienna (PI)</li>
        <li>University of Warsaw (PI)</li>
        <li>Friedrich-Schiller-Universität Jena (PI)</li>
        <li>Yale University</li>
        <li>Leiden University</li>
        <li>Archéologies et sciences de l'Antiquité (ArScAn), CNRS-UMR 7041</li>
        <li>Deutsches Archäologisches Institut (DAI)</li>
        <li>Scientific Software Center</li>
        <li>Staatliche Museen zu Berlin</li>
        <li>Ludwig-Maximilians-Universität München</li>
    </ul>
    <h2>Funding</h2>
    <p>
        The project is funded by the Austrian Science Fund (FWF) under the project number <a
            href="https://www.fwf.ac.at/forschungsradar/10.55776/I6927">10.55776/I6927</a>.
    </p>
</div>
{% endblock %}