<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <h1> {{class_name}}es</h1>
            <p>The tablets are identified according to the individual, family or institution to which they originally belonged, in combination with their geographical provenience. 
                Thus, for instance, the Egibi family's tablets from Babylon, Dilbat and Uruk are listed separately.</p>
            <p>We follow the archival division as found in <a href="https://ugarit-verlag.com/collections/guides-to-the-mesopotamian-textual-record-gmtr/products/neo-babylonian-legal-and-administrative-documents-typology-contents-and-archives-gmtr-1?variant=32364080431166" target="_blank">Jursa 2005 (GMTR 1)</a>.</p>
            <p>By clicking on an archive currently available in our catalogue, a list of tablets belonging to that archive will become visible.</p>
        </div>
    </div>
</div>