<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <h1> Toponyms and Hydronyms</h1>
            <p>The main geographical regions are listed here: by clicking on the + you can find each related set of cities, villages, and estates from where the documentary sources originate. The ancient names are transliterated in Latin characters following Zadok 1985 (RGTC 8).</p>
            <p>By clicking on a toponym, you will get a list of tablets of which this site is the place of issue. </p>
        </div>
    </div>
</div>