{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row p-2">
        <div class="col-3"></div>
        <div class="col-6">
            <h1 class="fs-3">Confirm delete</h1>
            <form action="" method="post">
                {% csrf_token %}
                <p class="lead">
                    Are you sure you want to delete: <strong>{{ object }}</strong> ?
                </p>
                <input class="btn btn-danger" type="submit" value="Yes, I want to delete" />
            </form>
            <div class="text-end pt-2">
                <a class="btn btn-secondary" onclick="goBack()">No, bring me back</a>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
</div>
<script>
    function goBack() {
        window.history.back();
    }
</script>
{% endblock content %}