{% extends "base.html" %}
{% load static %}
{% load stats_extras %}
{% load webpage_extras %}
{% block content %}
<style>
    .jumbotron-background {
        background-image: url("{% static 'webpage/img/title-image.jpg' %}");
    }
</style>
<div class="my-5">
    <div class="p-5 text-center bg-body-tertiary rounded-1 jumbotron-background">
      <h1 class="display-1 p-5">NaBuCCo</h1>
      <h2 class="display-3 text-light">A Neo-Babylonian Cuneiform Corpus</h2>
      <p class="container lead fs-2">
        NaBuCCo aims at making available the large corpus of archival documents from first millennium BCE Babylonia to historians of the ancient world in general and Assyriologists in particular.
      </p>
      <div class="d-inline-flex gap-2 mb-5 pt-5">
        <a class="btn btn-outline-light btn-lg px-4" type="button" href="{% url 'webpage:staticpage' template='about' %}">
          About the Project
        </a>
        <a class="btn btn-outline-light btn-lg px-4" type="button" href="{% url 'archiv:tablet_browse' %}">
          Browse the Tablets
        </a>
      </div>
      <p class="text-light pt-5 container">
        This foundation cylinder of king Nabonidus records reconstruction works at the temples of Sîn at Harran, and of Šamaš and Annunītum at Sippar.<br>© <a href="https://www.britishmuseum.org/collection/object/W_1882-0714-1025" class="text-light">The Trustees of the British Museum</a>, <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/" class="text-light">CC BY-NC-SA 4.0</a></p>
    </div>
  </div>
{% endblock %}
