{% extends "webpage/base.html" %}
{% load static %}
{% load stats_extras %}
{% load webpage_extras %}
{% block content %}

        <div class="jumbotron jumbotron-fluid" style="background-color: white;">
                <img src="{% static 'img/project_background.jpg' %}" class='mx-auto d-block' id="title-img">
                <div class="content">
                    <h1 class="display-1">NaBuCCo</h1>
                    <p>THE NEO-BABYLONIAN CUNEIFORM CORPUS aims at making available 
                    the large corpus of archival documents from first millennium BCE Babylonia 
                    to historians of the ancient world in general and Assyriologists in particular.</p>
                </div>
        </div>

    <div class="container" id="landing" >
        <div class="row" >
            <div class="col-md-12" style="text-align:center">
                <h2>Browse the <b>NaBuCCo</b> Database</h2>
            </div>
        </div>
            {% create_object_count app='archiv' as models %}
            <div class="row justify-content-center">
            {% for x in models %}
                {% if x.name == "Archiv" %}
                    <div class="col-md-6" style="text-align:center">
                        <div class="card">
                            <img class="card-img-top" src="static/img/ishtar-gate.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-text" style="font-weight:bold; color: #254aa5;"> {{x.name}}es </h4>
                                <h6 class="card-text" style="font-weight:bold; color: #254aa5;">{{ x.count }} entries</h6>
                                {% if x.link %}
                                    <a class="btn btn-main btn-outline-primary btn-sm" href="{{ x.link }}" role="button">Browse data</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if x.name == "Tablet" %}
                    <div class="col-md-6 order-first" style="text-align:center">
                        <div class="card">
                            <img class="card-img-top" src="static/img/tablet.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-text" style="font-weight:bold; color: #254aa5;"> {{x.name}}s </h4>
                                <h6 class="card-text" style="font-weight:bold; color: #254aa5;">{{ x.count }} entries</h6>
                                {% if x.link %}
                                    <a class="btn btn-main btn-outline-primary btn-sm" href="{{ x.link }}" role="button">Browse data</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if x.name == "Place" %}
                <div class="col-md-6" style="text-align:center">
                    <div class="card">
                        <img class="card-img-top" src="static/img/babylon.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-text" style="font-weight:bold; color: #254aa5;"> {{x.name}}s </h4>
                            <h6 class="card-text" style="font-weight:bold; color: #254aa5;">{{ x.count }} entries</h6>
                            {% if x.link %}
                                <a class="btn btn-main btn-outline-primary btn-sm" href="{{ x.link }}" role="button">Browse data</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if x.name == "Glossary" %}
                    <div class="col-md-6" style="text-align:center">
                        <div class="card">
                            <img class="card-img-top" src="static/img/taxonomy.png" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-text" style="font-weight:bold; color: #254aa5;"> Text typology </h4>
                                <h6 class="card-text" style="font-weight:bold; color: #254aa5;">{{ x.count }} entries</h6>
                                {% if x.link %}
                                    <a class="btn btn-main btn-outline-primary btn-sm" href="{{ x.link }}" role="button">Browse data</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if x.name == "Bibliography" %}
                <div class="col-md-6 order-last" style="text-align:center">
                    <div class="card">
                        <img class="card-img-top" src="static/img/library.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-text" style="font-weight:bold; color: #254aa5;"> {{x.name}} </h4>
                            <h6 class="card-text" style="font-weight:bold; color: #254aa5;">{{ x.count }} entries</h6>
                            {% if x.link %}
                                <a class="btn btn-main btn-outline-primary btn-sm" href="{{ x.link }}" role="button">Browse data</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
