{% extends "webpage/base.html" %}
{% load static %}
{% load stats_extras %}
{% load webpage_extras %}
{% block content %}

        <div class="jumbotron jumbotron-fluid" style="background-color: white;">
                <img src="{% static 'img/project_background.jpg' %}" class='mx-auto d-block' id="title-img">
                <!-- <h1 style="text-align:center; color: #111;">{% projects_metadata 'title' %}</h1>
                <h3 style="text-align:center; color: #111;">{% projects_metadata 'subtitle' %}</h3>
                <h5 style="text-align:center; color: #111;">{% projects_metadata 'description' %}</h5> -->
                <div class="content">
                    <h1 class="display-1">NaBuCCo</h1>
                    <p>THE NEO-BABYLONIAN CUNEIFORM CORPUS aims at making available 
                    the large corpus of archival documents from first millennium BCE Babylonia 
                    to historians of the ancient world in general and Assyriologists in particular.</p>
                </div>
        </div>

    <div class="container" id="landing" >
        <div class="row" >
            <div class="col-md-12" style="text-align:center">
                <h2>Browse the <b>NaBuCCo</b> Database</h2>
            </div>
            {% create_object_count app='archiv' as models %}
            {% for x in models %}
                <div class="col-md-4  text-center">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="static/img/ishtar-gate.jpg" alt="Card image cap">
                        <div class="card-body ">
                            <h4 class="card-text" style="font-weight:bold; color: #254aa5;">{{x.name}}</h4>
                            <h4 class="card-text" style="font-weight:bold; color: #254aa5;">{{ x.count }}</h4>
                            {% if x.link %}
                                <a class="btn btn-main btn-outline-primary btn-sm" href="{{ x.link }}" role="button">Browse data</a>
                            {% endif %}
        
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
