{% extends "base.html" %}
{% load static %}
{% load webpage_extras %}
{% block title %} About DigEanna{% endblock %}
{% block content %}
<div class="container pt-3">
    <h1 class="display-2 p-3 text-center">About DigEanna</h1>
    <h2>Involved Person and Institutions</h2>
    <h3 class="visually-hidden">Persons</h3>
    <p><a href="https://ucrisportal.univie.ac.at/en/persons/michael-jursa">Jursa, Michael (Project Lead)</a>; Sandowicz,
        Malgorzata (Co-Lead); Hackl, Johannes (Co-Lead); Lassen, Agnete (Co-Lead); Waerzeggers, Caroline (Co-Lead);Agut,
        Damien (Co-Lead); Mühl, Simone (Co-Lead); Lämmerhirt, Kai (Co-Lead); Jiménez, Enrique (Co-Lead); Helwing,
        Barbara (Co-Lead)</p>
    <p class="visually-hidden">wow, so many leaders...</p>
    <h3 class="visually-hidden">Institutions</h3>

    <p><a href="https://ucrisportal.univie.ac.at/en/organisations/institut-f%C3%BCr-orientalistik">Department of Near
            Eastern Studies</a>; University of Warsaw; Friedrich-Schiller-Universität Jena; Yale University; Leiden
        University; Archéologies et sciences de l'Antiquité (ArScAn), CNRS-UMR 7041; Deutsches Archäologisches Institut
        (DAI); Scientific Software Center; Staatliche Museen zu Berlin; Ludwig-Maximilians-Universität München</p>
    <h2 id="abstract">Abstract</h2>
    <p>
        The Babylonian cuneiform tablets conventionally labeled as the ‘Eanna temple archive’ represent one of the most
        important text groups from Ancient Babylonia, and they are arguably the most multifaceted collection of archival
        material from the best documented period of Babylonian history, the long sixth century. Counterintuitively, and
        numerous preceding studies (including several by the applicants) notwithstanding, no truly comprehensive
        investigation of these texts as a body of documentary data, as an ‘archive’, has ever been attempted. DigEanna
        will close this knowledge gap. Building on previous largescale projects and significant collections of pertinent
        data, making full use of pertinent digital methodologies and aligning itself with relevant data-gathering
        Digital Humanities projects, the project will break new ground in the study of Iron Age Babylonia and the
        Ancient World in general. All three applicants have published widely in the field and are internationally
        recognized specialists in Neo- Babylonian studies, albeit with different research foci. Their intensive
        collaboration that will result from DigEanna, and the input of their project partners and collaborating
        institutions, will ensure that the project is more than a sum of its parts.
    </p>
    <dl>
        <dt>Short title</dt>
        <dd>DigEanna</dd>

        <dt>Status</dt>
        <dd>Active</dd>

        <dt>Effective start/end date</dt>
        <dd>1/10/24 → 30/09/27</dd>
    </dl>
    <h2>Collaborative partners</h2>
    <ul>
        <li>
            <a href="https://ucrisportal.univie.ac.at/en/organisations/universit%C3%A4t-wien">
                University of Vienna
            </a>(lead)
        </li>
        <li>University of Warsaw</li>
        <li>Friedrich-Schiller-Universität Jena</li>
        <li>Yale University</li>
        <li>Leiden University</li>
        <li>Archéologies et sciences de l'Antiquité (ArScAn), CNRS-UMR 7041</li>
        <li>Deutsches Archäologisches Institut (DAI)</li>
        <li>Scientific Software Center</li>
        <li>Staatliche Museen zu Berlin</li>
        <li>Ludwig-Maximilians-Universität München</li>
    </ul>
    <h2>Funding</h2>
    <p>
        The project is funded by the Austrian Science Fund (FWF) under the project number <a href="https://www.fwf.ac.at/forschungsradar/10.55776/I6927">10.55776/I6927</a>.
    </p>
</div>
{% endblock %}